<nav>
  {{#facebook}}
    <a
      class="zocial facebook icon"
      href="https://www.facebook.com/{{facebook}}"
    >
      Visit on Facebook!
    </a>
  {{/facebook}}

  {{#twitter}}
    <a class="zocial twitter icon" href="https://www.twitter.com/{{twitter}}">
      Follow on Twitter!
    </a>
  {{/twitter}}

  {{#linkedin}}
    <a
      class="zocial linkedin icon"
      href="https://www.linkedin.com/in/{{linkedin}}"
    >
      Look at LinkedIn!
    </a>
  {{/linkedin}}

  {{#github}}
    <a class="zocial github icon" href="https://www.github.com/{{github}}">
      There's code on GitHub!
    </a>
  {{/github}}

  {{#soundcloud}}
    <a
      class="zocial soundcloud icon"
      href="https://www.soundcloud.com/{{soundcloud}}"
    >
      There's sounds on SoundCloud!
    </a>
  {{/soundcloud}}

  {{#tumblr}}
    <a class="zocial tumblr icon" href="https://{{tumblr}}.tumblr.com">
      Follow on Tumblr!
    </a>
  {{/tumblr}}

  {{#pinterest}}
    <a
      class="zocial pinterest icon"
      href="https://www.pinterest.com/{{pinterest}}"
    >
      Look at pictures on Pinterest!
    </a>
  {{/pinterest}}

  {{#blogger}}
    <a class="zocial blogger icon" href="https://{{blogger}}.blogspot.com">
      Words!
    </a>
  {{/blogger}}

  {{#fivehundredpx}}
  <a
    class="zocial fivehundredpx icon"
    href="https://500px.com/{{fivehundredpx}}"
  >
      Professionally done pictures!
    </a>
  {{/fivehundredpx}}
</nav>
